{% extends "network/layout.html" %}

{% block body %}

<!--
<div>
    <h3>New Post</h3>
    <textarea name="" id="" cols="100" rows="5"> Show text area from the form in views {{ form }} </textarea>
    <button type="submit" id="addpost" class="btn btn-primary">Post</button>
</div>
-->

<!--
  <form action="{% url 'network:create' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="SAVE">
</form>
-->


<h2>All Posts</h2>
<ul style="list-style-type: none;">
    {% for post in posts %}
    <div style="border: 1px solid beige; margin:10px; padding: 10px">
        <li><a href="{% url 'network:profile' request.user.username %}" style="text-decoration: none;"><strong>{{ post.created_by }}</strong></a></li>
        <li>{{ post.post }}</li>
        <li style="font-size: 70%;"><a href="#">Edit post</a></li>
        <li>{{ post.created_date }}</li>
        <li>❤️ {{ post.likes.count }}<a href="#"> like</a></li>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="add_follow" value="1" class="btn btn-info mt-2 ml-2">
                {% if not followed %}
                    Follow
                {% else %}
                    Unfollow
                {% endif %}
            </button>
        </form>
        <p>Followers: {{ user_profile.followers.count }}</p>
        <p>Following: {{ user_profile.following_users.count }}<br>JUST FOR CHECKING IF BUTTON WORKS... THIS INFO GOES IN PROFILE</p>
    </div>
    {% endfor %}
</ul>
{% endblock %}



<!--<li style="font-size: 70%;"><a href="{% url 'network:edit' %}">Edit post</a></li>-->

<!--{% url 'network:profile' request.post.created_by %}-->