{% extends "network/layout.html" %}

{% block body %}

<!--
<div>
    <h3>New Post</h3>
    <textarea name="" id="" cols="100" rows="5"> Show text area from the form in views {{ form }} </textarea>
    <button type="submit" id="addpost" class="btn btn-primary">Post</button>
</div>
-->

<!--
  <form action="{% url 'network:create' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="SAVE">
</form>
-->


<h2>All Posts</h2>
<ul style="list-style-type: none;">
    {% for post in posts %}
    <div style="border: 1px solid beige; margin:10px; padding: 10px">
        <div style="display: flex; align-items: center;">

            <!-- Name -->
            <li style="margin-right: 10px;">
                <a href="{% url 'network:profile' username=post.created_by.username %}" style="text-decoration: none;">
                    <strong>{{ post.created_by }}</strong>
                </a>
            </li>
        
            <!-- Follow Button
            <li>

                    {% csrf_token %}
                    <input type="hidden" name="posted_by" value="{{ post.created_by }}">
                    <button type="submit" class="btn REMOVED FIND IT AT THE BOTTOM mt-2 ml-2">
                        {% if not post.is_following %}
                            Follow
                        {% else %}
                            Unfollow
                        {% endif %}
                    </button>
                </form>
            </li>-->
        
        </div>
        
        <li>{{ post.post }}</li>

        {% if user.is_authenticated %}
            {% if user_profile.user|lower == post.created_by.username|lower %}
            <ul style="display: flex;">
                <li style="font-size: 70%;"><a href="{% url 'network:edit' post.id %}">Edit post</a></li>
            </ul>    
            {% endif %}
        {% endif %}

    
        <li>{{ post.created_date }}</li>
        <li>❤️ {{ post.likes.count }} </li>
        <form method="post" action="{% url 'network:like_post' post_id=post.id %}">
            {% csrf_token %}
            <button type="submit">
                {% if user in post.likes.all %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </button>
        </form>

    </div>
    {% endfor %}
    <div class="d-flex justify-content-center my-3">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
    
                {% for i in posts.paginator.page_range %}
                    <li class="page-item {% if i == posts.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
    
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</ul>
{% endblock %}



<!--<li style="font-size: 70%;"><a href="{% url 'network:edit' %}">Edit post</a></li>-->

<!--{% url 'network:profile' request.post.created_by %}-->

<!--<li style="font-size: 70%;"><a href="{% url 'network:edit' %}">Edit post</a></li>-->

<!--{% url 'network:profile' request.post.created_by %}-->

<!--<form method="POST" action="{% url 'network:follow_toggle' %}" id="follow-form-{{ post.id }}" class="follow-form">-->